#wrapper1 {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 10% 10% 60% 1fr;
    grid-template-columns: 60% 1fr;
    grid-template-areas:
    'hd hd'
    'nv nv'
    'mi mi'
    'ft ft'
}
#wrapper2 {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 60.33px 60.33px calc(60.33*2px) calc(60.33*15px) calc(60.33*2px);
    grid-column: 70% 1fr;
    grid-template-areas:
    'hd'
    'nv'
    'scim1'
    'mat'
    'ft'
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#wrapper3{
    display: grid;
    height: calc(100vh);
    grid-template-rows: 10% 10% 650px calc(60.33*2px);
    grid-column: 50% 1fr;
    grid-template-areas:
    'hd hd'
    'nv nv'
    'sc3 sc3'
    'ft ft' 
}
.banner2{
    width: 80%;
    height: 100%;
}
img{
    filter: grayscale(20%);
}
.matim{
    width: 100%;
    height: 100%;
}
.sc3{
    grid-area: sc3;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    padding: 50px 100px 500px 100px;
    justify-content: center;
}
.cards{
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.trainimg{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textbox{
    position: relative;
    text-align: center;
    bottom: 75px;
    height: 80px;
    overflow: hidden;
}
.namn{
    text-shadow: 2px 2px 1px black;
    color: #e74c3c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    font-size: larger;
    top: 28px;
}
.title{
    display: flex;
    justify-content: center;
}
body{
    background-color: #4F4544;
    margin: 0px;
}
section{
    padding: 5px;
}
header{
    grid-area: hd;
    background-color: #B55D53;
    color: #e74c3c;
    text-shadow: 2px 2px 1px black;
}
nav{
    grid-area: nv;
    background-color: #825A56;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}
footer{
    grid-area: ft;
    background-color: #332726;
    padding: 5px;
}
.button{
    display: grid;
    place-items: center;
    background-color: aliceblue;
    height:  50px;
    width: 80px;
    border-radius: 10px;
}

.im1{
    width: 100%;
    height: 100%;
}

#sc1{
    grid-area: sc1;
}
#scim1{
    grid-area: scim1;
    display: flex;
    justify-content: center;
    padding: 0px;
}
#article_container{
    grid-area: mat;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 0px;
}
.text{
    padding: 5px;
}
.mat{
    display: flex;
    height: 100%;
    border-style: solid;
}
.mat .text{
    width: 70%;
}
.mat .bild{
    width: 30%;
}
p{
    color: white;
}
h2{
    color: white;
}
h3{
    color: black;
}

