#wrapper {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 10% 10% 50% 1fr;
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'mi mi mi mi'
    'ft ft ft ft'
}
.title{
    display: flex;
    justify-content: center;
}
body{
    background-color: #e74c3c;
    margin: 0px;
}
header{
    grid-area: hd;
    background-color: rebeccapurple;
    color: #e74c3c;
    text-shadow: 2px 2px 1px grey;
}
nav{
    grid-area: nv;
    background-color: green;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}
footer{
    grid-area: ft;
    background-color: brown;
}
.navbox{
    width: 8px;
    height: 16px;
    background-color: black;
}